body {
    background-color: #130f26;
}

.logoBody {
    background-image: linear-gradient(to right, #130f26 0%, #130f26 50%, white 50%, white 100%);
    color: white;
}

/* Links */ 

a:link {
    color: #e7f074
}

a:visited {
    color: #e7f074
}

/*Buttons*/

.hover-underline {
    display: inline-block;
    position: relative;
}
  
  .hover-underline::after , .hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #109ada, #fdca01);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}
  
  .hover-underline::before {
    top: -5px;
    transform-origin: left;
}
  
  .hover-underline:hover::after , .hover-underline:hover::before {
    transform: scaleX(1);
}

.buttons {
    background-color: #130f26;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
  }