body {
    background-image: linear-gradient(to right, #130f26 0%, #130f26 50%, white 50%, white 100%);
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 140px;
}

.klimavill {
    text-align: justify;
    font-size: 14.2vw;
    font-family: Verdana, sans-serif;
  }
  
div:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

ul {
  padding: 5px;
  display: inline-block;
  font-size: 1.5vw;
  margin-left: 1vw;
}

li {
  margin-top: 15px;
}

.emailPeter {
    font-family: Verdana, sans-serif;
    color: white;
    display: inline-block;
}

.emailKrisztian {
    font-family: Verdana, sans-serif;
    color: white;
    display: inline-block;
    color: black;
}
