body {
    background-color: #130f26;
    color: white;
}

/* Button */

button{
    border-radius: 4px;
    background-color: #130f26;
    border: none;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    padding-right: 24px;
    padding-left: 8px;
}

button:hover:after {
    opacity: 1;
    right: 10px;
}

.center {
    margin: 0;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}